.rooms-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
}

.card-header {
    background: linear-gradient(180deg, #255AAA 0%, rgba(0, 0, 0, 0.57) 100%), #255AAA;
}
.card-title {
    font-family: 'Lora', serif;
    font-size: 1.50rem;
}

.room-card {
    padding: 0; 
    border: 2px solid #2355a1;
    max-width: 25rem;
    margin: 5px 10px;
}

.card {
    background-color: #181d1d;
}

.btn {
    align-self: center;
}

.reserve-btn {
    display: flex;
    align-content: center;
    vertical-align: middle;
    max-height: 78px;
}