html {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #181d1d ;
  color: #fafafa;
  font-family: 'Philosopher', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Lora', serif;
}

ul {
  list-style: none ;
  padding: 0;
}

nav, footer, .modal-header{
  background: linear-gradient(180deg, #255AAA 0%, rgba(0, 0, 0, 0.57) 100%), #255AAA;
}

footer {
  height: 144px;
}

main {
  min-height: 80vh;
}

.container {
  max-width: 1000px
}

.row-content {
  padding: 20px;
}
